/*

Colors and font families:

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

}

nav {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px 10px;

}


img#logo {
  max-height: 30px;
}


ul.nav-buttons {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  margin: 0 auto;
}

ul.nav-buttons li {
  list-style: none;
  padding: 10px 60px;
}

ul.nav-buttons > li > a {
  color: #2B2F26;
  text-transform: uppercase;
}

ul.nav-buttons > li > a:hover {
  color: #CD5D67;
}

ul > li > a:visited {
  color: #968772;
}

main {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Merriweather, serif;
  color: #131511;
  text-decoration: none;
}

div.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

h1 {
  font-weight: normal;
  font-size: 3.0em;
  display: inline-block;
  margin: 3px auto;
}

h2 {
   font-weight: lighter;
   font-size: 1.5em;
   display: inline-block;
   margin: 3px auto;
}

div.image-grid {
  width: 100%;
}

div.row-1, div.row-2 {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}

div.row-1 {
  height: 300px;
  width: 100%;
  margin: 10px;
}

div.row-2 {
  height: 200px;
  width: 100%;
  margin: 10px;
}

div.row-1 img {
  width: 200px;
}

div.row-1 p, div.row-2 p {
  position: absolute;
  /*margin-top: 230px;*/
  margin-left: 0px;
  padding: 10px;
  background-color: #2B2F26;
  color: #F2F1E8;
}


div#image-1 {
  flex-grow: 3;
}

div#image-2 {
  flex-grow: 1;
}

div#image-3 {
  flex-grow: 1;
}

div#image-4 {
  flex-grow: 1;
}

div#image-5 {
  flex-grow: 1;
}

div#image-6 {
  flex-grow: 2;
}

div#image-7 {
  flex-grow: 1;
}

/* About page */

div.about-content-1 {
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
  line-height: 1.6em;
}
